@tailwind base;
@tailwind components;
@tailwind utilities;

.bx-search-alt-2:hover {
  background-color: #171717;
  padding: 4px;
  border-radius: 100%;
}
 /* Container holding the image and the text */
 .container {
  position: relative;
  text-align: center;
  color: white;
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 